.header-banner {
      background-image: linear-gradient(22deg, rgba(228,251,255,1) 0%, rgba(237,238,247,1) 90%);
}

/* .tc-light{
  color: black !important;
} */

.tc-light p {
  color: #4a4a4a !important;
}

.tc-light h2 {
  color: #1940b0 !important;
}

.toggle-line {
  color: black !important;
}

.has-fixed.is-dark .header-main {
  background-color: #e2f0f3 !important;
}

.bg-theme-dark, .bg-theme{
  background-color: white !important;
}


.tc-light h1, .tc-light a:not(.btn) h1, .tc-light h2, .tc-light a:not(.btn) h2, .tc-light h3, .tc-light a:not(.btn) h3, .tc-light h4, .tc-light a:not(.btn) h4, .tc-light h5, .tc-light a:not(.btn) h5, .tc-light h6, .tc-light a:not(.btn) h6, .tc-light .h1, .tc-light a:not(.btn) .h1, .tc-light .h2, .tc-light a:not(.btn) .h2, .tc-light .h3, .tc-light a:not(.btn) .h3, .tc-light .h4, .tc-light a:not(.btn) .h4, .tc-light .h5, .tc-light a:not(.btn) .h5, .tc-light .h6, .tc-light a:not(.btn) .h6 {
  color: #1940b0 !important;
}

.roadmap-step p, h5.team-featured-info, h4.title-md {
  color: white !important;
}

.bg-theme-change {
    background-color: #122272;
}

.bg-my-theme-1 {
  background-color: #dcf1f5 !important;
}

.bg-my-theme-2 {
  background-color: white !important;
}


h6.wgs-title {
      color: #23c99d !important;
}

.cl-my-theme-1 {
  color:#16a3fe !important;
}

.cl-my-theme-2, .ath-note, .field-item, .ath-heading small, .ath-body p {
  color: #4a4a4a !important;
}

a.modal-close {
  color: black !important;
}

.tc-light .wgs-body a:not(.btn){
  color: #4a4a4a !important;
}

@media (max-width: 992px) {
  .menu-btns {
    flex-direction: column;
  }
  .btn-grad-change{
    color: white !important;
  }
}
.btn-grad-change {
    color: #4a4a4a ;
    border: none !important;
    transition: 0.2s ease color !important;
}

.btn-grad-change:hover
{
      color: white !important;
      background-image: linear-gradient(to right, #16a3fe 0%, #23c99d 100%);
}

.ps-my-theme-1
{
  position: inherit !important;
}


.custom-field {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 20px !important;
}

.custom-field button {
  min-width: auto !important;
  border-radius: 0 5px 5px 0 !important;
}

.custom-field .input-bordered {
  border-radius: 6px 0 0px 6px !important;
}

.btn-cp-rslt {
  transition: opacity 0.5s ease-out !important;
  margin-top: 10px !important;
  border-radius: 0px;
  background-color: #23c99d !important;
  border-color: #23c99d !important;
  opacity: 0;
}

.btn-cp-rslt.active {
  opacity: 1;
}

.d6 {
  animation-duration: 1s !important;
  animation-delay: 1s !important;
}
